.card {
  background-color: #141e33;
  width: 270px;
  height: 250px;
  border: none;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.card .main-section h2 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.card .main-section p {
  font-size: 0.9rem;
  font-weight: 300;
}

.card footer {
  width: 100%;
  padding: 10px 0px 0px 0px;
  border-top: 4px dashed #1d293e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card footer .icons {
  display: flex;
  gap: 8px;
}

.card footer .icons i {
  cursor: pointer;
}
